body {
  background-color: beige;
  font-family: Calibri, Helvetica, sans-serif;
}
#btn {
  background-color: rgb(0, 10, 100);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: black;
  cursor: pointer;
  width: 18%;
  opacity: 1;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 85px;
  border-radius: 50px;
}

#view {
  background-color: #588240;
  color: white;
  padding: 6px 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 1;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
table td {
  padding: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  
}
table th {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
 
}
table,
td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
